<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Altura</th>
        <th>Peso</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${national_number}"></td>
        <td th:text="${name}"></td>
        <td th:text="${height}"></td>
        <td th:text="${weight}"></td>
    </tr>
    </tbody>
</table>

<form action="/pokemon/list" method="GET">
    <button type="submit">Regresar</button>
</form>

</body>
</html>